.App {
  text-align: center;
}

.App .title {
  transition: transform .55s cubic-bezier(.6,-0.1,.2,1.37);
  font-size: 50px;
  margin-bottom: 10px;
}

.App p {
  font-style: italic;
  transition: opacity .45s ease 1s
}

.App .cta {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  padding: 0 18px;
  border-radius: 3px;
  font-size: 15px;
  border: 1px solid #dedede;
  cursor: pointer;
}